{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h1>Inscription</h1>
<form action="" method="post">
  <div class="form-group">
    {{ form_start(registrationForm) }}
        {{form_row(registrationForm.username)}}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
            <div class="form-group form-check">
        {{ form_row(registrationForm.agreeTerms) }}
            </div>

        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-secondary">S'enregistrer</button>
            </div>
                <div class="col my-auto"> 
                <a href="{{ path('app_login')}}">Déjà inscrit?</a> 
                </div>
    {{ form_end(registrationForm) }}
        </div>
    
    </form>
{% endblock %}
